---
---
<!doctype html>

<html>

{% include head.html %}

<body>
    {% include header.html place="downloads" %}

    <section class="section">        
        <div class="container">
            <h1 class="title is-4">Software</h1>

            <table class="table is-fullwidth">
                <thead>
                    <tr>
                        <th>Version</th>
                        <th>Date</th>
                        <th>Download</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    {% for release in site.data.releases.software %}
                        {% if release.prerelease == false %}
                            <tr>
                                <td>{{release.name}}</td>
                                <td>{{release.date}}</td>
                                <td><a href="{{release.download_url}}">Download</a></td>
                                <td>
                                    <a class="button is-small is-pulled-right" href="{{release.html_url}}" target="_blank">
                                        <span class="icon is-small">
                                            <i class="fa fa-github"></i>
                                        </span>
                                        <span>GitHub</span>
                                    </a>
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>

    <section class="section">        
        <div class="container">
            <h1 class="title is-4">Databases</h1>

            <div class="notification is-warning">
                The database is currently in development. The v1.0.0 release of the database will coincide with the release of Virtool 2.0.0.
            </div>

            <table class="table is-fullwidth">
                <thead>
                    <tr>
                        <th>Version</th>
                        <th>Date</th>
                        <th>Download</th>
                        <th></th>
                    </tr>
                </thead>
                
                <tbody>
                    {% for release in site.data.releases.database %}
                        {% if release.prerelease == false %}
                            <tr>
                                <td>{{release.name}}</td>
                                <td>{{release.date}}</td>
                                <td><a href="{{release.download_url}}">Download</a></td>
                                <td>
                                    <a class="button is-small is-pulled-right" href="{{release.html_url}}" target="_blank">
                                        <span class="icon is-small">
                                            <i class="fa fa-github"></i>
                                        </span>
                                        <span>GitHub</span>
                                    </a>
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>

    <div id="wrapper"></div>

    {% include footer.html %}

</body>

</html>
