@import url('https://fonts.googleapis.com/css?family=Roboto')

$primary: #3c8786
$success: #60af98

$family-sans-serif: "Roboto", BlinkMacSystemFont, -apple-system, "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif

body
    display: flex
    min-height: 100vh
    flex-direction: column

#wrapper
    flex: 1

.image
    padding: 5px
    border: 1px solid #ddd

.logo-strip
    margin-top: 30px
    margin-bottom: 60px
    a
        padding: 5px

.vtlogo-svg
    fill: white

.card.is-docs-type
    cursor: pointer
    transform: scale(1)
    transition: 150ms transform ease-in-out

    &:hover        
        transform: scale(1.05)

@import "bulma/bulma.sass"
