@import url('https://fonts.googleapis.com/css?family=Roboto')

$primary: #3c8786
$success: #60af98

$family-sans-serif: "Roboto", BlinkMacSystemFont, -apple-system, "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif

@import "bulma/bulma.sass"

body
    display: flex
    min-height: 100vh
    flex-direction: column

#wrapper
    flex: 1

.image
    padding: 5px
    border: 1px solid #ddd

.logo-strip
    margin-top: 30px
    margin-bottom: 60px
    a
        padding: 5px

.vtlogo-svg
    fill: white

.card.is-docs-type
    cursor: pointer
    margin: 1rem
    transform: scale(1)
    transition: 150ms transform ease-in-out
    width: 100%

    &:hover        
        transform: scale(1.05)

p.card-header-title
    .icon
        + span
            padding-left: 0.5rem

div.docs
    display: flex
    flex-direction: column
    align-items: stretch

    table
        @extend .table
        @extend .is-fullwidth
        @extend .is-striped

    h1
        @extend .title
        @extend .is-5

    h2
        @extend .title
        @extend .is-6

    p
        margin-top: 0.5rem
        margin-bottom: 1rem

    &.docs-manual

        img
            max-width: 100%
            min-width: auto
            padding: 5px
            border: 1px solid #ddd

        h1:not(:first-child)
            padding-top: 2.2rem

        h2
            margin: 1.8rem 0 0.8rem 0

        ul
            padding-left: 1rem
            padding-bottom: 0.8rem
            list-style-type: disc
            list-style-position: inside

        ol
            padding-left: 1.8rem

        article.message
            margin-top: 2.2rem

            &.is-flowing
                margin-top: 0.6rem

        li
            img
                margin-top: 0.6rem

    &.docs-api

        div.box
            > pre:first-of-type
                margin-bottom: 2rem
                background-color: darken($primary, 2%)
                color: white

                code
                    font-weight: bolder

        h2
            margin-top: 1.2rem

        div.highlight
            pre
                overflow-x: scroll
