$api-border-radius: $border-radius-md
$api-padding: 0.8rem 1.2rem
$api-font-size: 1rem

$endpoint-color: $primary
$example-border: 1px solid $black

.docs-api
    h1
        font-size: $size-4

    h2
        font-size: $size-5
        font-weight: 600
        margin-top: 2rem

.endpoint
    align-items: center
    border: 1px solid $endpoint-color
    border-radius: $api-border-radius
    display: flex
    font-size: $api-font-size
    margin: 1rem 0
    overflow: hidden
    padding: 0
    white-space: nowrap

.endpoint-method
    background-color: $endpoint-color
    color: $white
    flex: 0 0 auto
    font-weight: 600
    padding: $api-padding

.endpoint-path
    background-color: $white
    flex: 1 0 auto
    font-family: $family-monospace
    padding: $api-padding

.request
    background-color: $white
    border: $example-border
    border-radius: $api-border-radius
    overflow: hidden

.request-url
    background-color: $white
    font-family: $family-monospace
    padding: $api-padding

.response
    background-color: $white
    border: $example-border
    border-radius: $api-border-radius
    font-size: $api-font-size
    overflow: hidden

    div, pre
        border-radius: 0 !important

.response-headers
    font-family: $family-monospace
    padding: $api-padding

    p
        margin: 5px 0

.inline-status
    background-color: $green
    border-radius: $border-radius-md
    color: $white
    display: inline-block
    font-family: $family-monospace
    font-size: $size-7
    padding: 0 0.4rem

.inline-status-error
    background-color: $red
    color: $white

.permission
    align-items: stretch
    display: inline-flex
    font-size: $size-7
    font-weight: 600
    justify-content: center
    white-space: nowrap

.permission-label
    background-color: $red
    border: 1px solid $red
    border-radius: $border-radius-sm 0 0 $border-radius-sm
    color: $white
    padding: 3px 6px

.permission-name
    background-color: $white
    border: 1px solid $red
    border-left: none
    border-radius: 0 $border-radius-sm $border-radius-sm 0
    color: $black
    font-family: $family-monospace
    padding: 3px 6px

    &::first-letter
        text-transform: uppercase

.label
    background-color: $yellow
    border: 1px solid $yellow
    border-radius: $border-radius-sm
    color: $black
    display: inline-block
    font-size: 12px
    padding: 3px 6px
    white-space: nowrap
