nav.breadcrumbs
    font-size: $size-normal
    white-space: nowrap
    user-select: none

    a
        align-items: center
        color: $info
        display: flex
        justify-content: center
        padding: 0 0.75rem
        text-decoration: none

        &:hover
            color: $link-hover

    ul
        align-items: center
        display: flex
        flex-wrap: wrap
        list-style: none
        padding: 0
        justify-content: flex-start
        
    li
        align-items: center
        display: flex
        font-weight: bold

        & + li::before
            color: $grey-light
            content: "\0002f"

        &:first-child
            a
                font-size: $size-4
                padding-left: 0

        &:nth-child(2)
            a
                font-size: $size-5 
