.highlight
  @extend %block
  position: relative
  
  pre
    box-sizing: border-box
    display: block
    margin: 0
    max-width: 100%
    padding: 1.6rem
    overflow-x: auto
    overflow-y: auto
    white-space: pre
    word-wrap: normal
