$gap: 3rem

.buffer
  flex: 1
  
.container
  display: flex
  flex-direction: column
  padding: 2rem
  max-width: 599px
  margin: auto

  +tablet
    max-width: 600px
    width: 600px

  +landscape
    max-width: 880px
    width: 880px

  +desktop
    max-width: 1200px
    width: 1200px

nav
  .container
      padding: 0 2rem
