$gap: 3rem

.buffer
  flex: 1
  
.container
  display: flex
  flex-direction: column
  margin: auto
  padding: 2rem
  max-width: 599px

  +tablet
    max-width: 600px
    width: 600px

  +landscape
    max-width: 900px
    width: 900px

  +desktop
    max-width: 1200px
    width: 1200px

nav
  .container
      padding: 0 2rem
