.docs-landing
    display: grid
    grid-gap: 25px
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr))

.docs-landing-card
    border: 1px solid $grey-lighter
    border-radius: 5px
    box-shadow: $box-shadow-sm

.docs-landing-header
    font-weight: bold
    margin: 0
    padding: 15px 20px

    a
        font-size: 20px
        text-decoration: none

    p
        color: $grey
        font-size: 14px
        margin: 7px 0 0

.docs-landing-item
    border-top: 1px solid $grey-lighter
    padding: 15px 20px

    a
        font-weight: bold
        text-decoration: none

    p
        color: $grey-dark
        margin: 10px 0 20px 0

div.docs
    width: 100%

    div.spread
        display: flex
        max-width: 100%
        width: 100%

        div.sidenav
            display: none
            flex: 0 0 0
            max-width: 12rem
            min-width: 12rem

            +landscape
                display: block

            ul
                list-style: none
                padding: 0
                position: sticky
                text-decoration: none
                top: 5rem

                a
                    color: $info
                    cursor: pointer
                    text-decoration: none

                li.side-sub
                    border-left: 0.1rem solid $grey-light
                    padding-left: 0.8rem

                    & > a
                        font-size: 0.9rem
                        font-weight: bold
                        margin-bottom: 0.3rem
                        text-transform: uppercase

                    & > ul
                        display: none
                        font-size: 0.85rem
                        padding: 0.3rem 0.6rem 0.3rem 0.3rem

                        & > li
                            padding-bottom: 0.3rem
                            .is-active
                                font-weight: bold

                    &.is-active
                        border-left-color: $primary

                        ul
                            display: block

    p, li
        code
            background-color: #EDF2F7
            border-radius: 2px
            color: #4A5568
            padding: 3px 4px

.docs-reader
    flex: 1 1 0
    max-width: 100%
    overflow: hidden

.docs-header
    align-items: center
    border-bottom: 0.1rem solid black
    display: flex
    margin-bottom: 1rem
    padding: 1rem 0

.docs-title
    font-weight: bold
    font-size: $size-3
    flex: 1 1 auto

.docs-updated
    flex: 0 1 auto
    font-size: $size-6

.docs-content

    h1
        font-size: $size-4
        margin-top: 3rem

    h2
        font-size: $size-5

    h3
        font-size: $size-6

    ul
        padding-left: 1rem
        padding-bottom: 0.8rem
        list-style-type: disc
        list-style-position: inside

    ol
        padding-left: 1.3rem

        li
            margin-bottom: 2.3rem

    article.message
        margin-top: 0.6rem

    h1 + article.message
        margin-top: 2.2rem

    li
        img
            margin-top: 0.6rem

    img, video
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.12), 0 2px 4px 0 rgba(0,0,0,0.08);
