.docs-landing
    display: grid
    grid-gap: 2rem
    grid-template-columns: 1fr

    +landscape
        grid-template-columns: 1fr 1fr

    .box
        padding-left: 2rem

    h2
        font-size: $size-4
        margin: 0.4rem 0 0.6rem

    ul

        padding: 0 2rem

    li
        line-height: 2rem

    a
        font-weight: 600
        text-decoration: none

    p
        color: $grey-darker
        font-weight: 600
        margin-top: 0

div.docs
    width: 100%

div.spread
    display: flex
    max-width: 100%
    width: 100%

div.sidenav
    display: none
    flex: 0 0 0
    max-width: 12rem
    min-width: 12rem

    +landscape
        display: block

    a
        cursor: pointer

    ul
        list-style: none
        padding: 0
        position: sticky
        text-decoration: none
        top: 5rem

        li.side-sub
            border-left: 0.1rem solid $grey
            padding-left: 0.8rem

            > a
                font-size: 0.9rem
                font-weight: bold
                margin-bottom: 0.3rem
                text-transform: uppercase

            > ul
                display: none
                font-size: 0.85rem
                padding: 0.3rem 0.6rem 0.3rem 0.3rem

                & > li
                    padding-bottom: 0.3rem
                    .is-active
                        font-weight: bold

            &.is-active
                border-left-color: $primary

                ul
                    display: block

div.docs-reader
    flex: 1 1 0
    max-width: 100%
    overflow: hidden

div.docs-header
    align-items: center
    border-bottom: 0.1rem solid black
    display: flex
    margin-bottom: 1rem
    padding: 1rem 0

.docs-title
    font-weight: bold
    font-size: $size-3
    flex: 1 1 auto

.docs-updated
    flex: 0 1 auto
    font-size: $size-6

div.docs-content
    // Offset for <h1> elements navigated to as targets (hash link).
    > :target::before
        content: ""
        display: block
        height: 67px

    h1
        font-size: $size-4
        margin-top: 5rem

        &:first-child
            margin-top: 3rem

    h2
        font-size: $size-5
        margin-top: 3rem

    h3
        font-size: $size-6
        font-weight: 600
        margin: 20px 0 10px

    ul
        padding-left: 1rem
        padding-bottom: 0.8rem
        list-style-type: disc
        list-style-position: inside

    ol
        counter-reset: step-counter
        list-style: none
        margin-top: 2rem
        padding-left: 1.3rem

        & > li
            counter-increment: step-counter
            margin-bottom: 3.5rem
            position: relative

            p
                margin: 0.8rem 0
                position: relative

                &:first-child
                    font-weight: 600

                    strong
                        color: $grey-darker

            &::before
                color: $grey-darker
                content: counter(step-counter)
                margin-left: -1.3rem
                font-weight: 600
                position: absolute
                width: 1.3rem

    article.message
        margin-top: 0.6rem

    h1 + article.message
        margin-top: 2.2rem

    li
        line-height: 1.7

        img, video
            margin-top: 0.7rem

    img, video
        border-radius: $border-radius-md
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.12), 0 2px 4px 0 rgba(0,0,0,0.08)

    p
        line-height: 1.7

        & + p
            margin-top: 25px

        strong
            font-weight: 600
