.feature
    display: flex
    flex-direction: column

    h1
        border-bottom: 2px solid $black
        font-size: $size-4
        padding-bottom: 1rem
        padding-top: 2rem

    h2
        display: block
        font-size: $size-5

.feature-item
    border: 1px solid $grey-lighter
    border-radius: 3px
    box-shadow: $box-shadow-sm
    
    margin: 15px 0
    padding: 0

.feature-header
    background-color: $grey-lighter
    font-size: 20px
    font-weight: bold
    padding: 10px 15px

.feature-body
    display: grid
    grid-template-columns: 1fr

    ul
        padding-top: 12px

    li
        padding-bottom: 8px

    +landscape
        grid-template-columns: 2fr 3fr

.feature-image
    img
        margin: 0
        max-width: 100%
        padding: 0




