.landing
    background-color: $primary
    color: $white
    padding: 2rem 0 3rem
    text-align: left

    +landscape
        padding: 4rem 0 2rem
        text-align: center

    h1
        font-size: 2rem
        font-weight: bold
        margin: 0

    h2
        font-size: 1rem
        font-weight: 600
        margin: 0

        +landscape
            font-size: 20px

.landing-download
    display: none
    margin: 40px 0

    +landscape
        display: block

    a
        background-color: $white
        border: 1px solid $grey-lighter
        border-radius: 3px
        color: $black
        padding: 10px 15px
        text-decoration: none

        &:hover
            border: 1px solid $grey-light
            box-shadow: $box-shadow-md

div.version-4
    background-color: $purple
    color: $white
    padding: 1rem

    a
        color: $yellow
