.warning
    border: 1px solid $red

.note
    background-color: white
    border: 1px solid $blue
    border-left-width: 4px
    border-radius: 5px
    color: $blue
    padding: 1rem

    strong
        font-weight: 600;

    ul:last-child, p:last-child
        margin-bottom: 0
        padding-bottom: 0.8rem

.note-red
    background-color: lighten($red, 37%)
    border-color: $red
    color: $red

.note-yellow
    background-color: lighten($yellow, 32%)
    border-color: $yellow
    color: darken($yellow, 25%)

.note-title
    font-weight: bold
    padding-bottom: 0.8rem

h2 + .note 
    margin-bottom: 32px
