.search
    flex-direction: column
    margin: 1rem 0

.search-input
    background-color: $white
    border: 1px solid $grey-light
    border-radius: 3px
    box-shadow: inset $box-shadow-sm
    flex: 1 0 auto
    font-size: $size-6
    padding: 0.8rem 1.2rem
    z-index: 1

    &:focus
        box-shadow: 0 0 0.3em 0.12em rgba($primary, 0.30)        
        border-color: $primary
        border-radius: 5px
        outline: 0

.search-results
    background-color: $white
    border: 1px solid $grey-light
    border-top-color: $grey-lighter
    height: 200px
    margin-top: -5px
    z-index: 30

.search-dropdown
    display: none
    position: absolute
    top: 2.85em
    vertical-align: top
    width: 100%

    &.is-active 
        display: block
        width: 100%
        z-index: 10

.dropdown-custom
    display: none
    position: absolute
    top: 2.85em
    vertical-align: top
    width: 100%
