$table-border: 1px solid $black
$table-cell-padding: 0.5em 0.75em
$table-head-cell-border-width: 0 0 2px
$table-foot-cell-color: $text-strong

table
  background-color: $white
  border: $table-border
  border-radius: $border-radius-lg
  border-spacing: 0
  color: $black
  overflow: hidden
  margin-bottom: 2rem
  width: 100%

  &.defs
    tr
      td
        br
          height: 24px

        &:first-child
          white-space: nowrap

  thead
    th:empty
      display: none

  tbody
    th
      font-weight: strong

    tr:nth-child(odd)
      background-color: $white-bis

  th
    padding: $table-cell-padding
    text-align: left

  td
    padding: $table-cell-padding
