nav#TableOfContents
    color: $black
    position: relative

    ul
        li
            display: list-item

            ul
                display: none

.toc-inline
    display: block

    +landscape
        display: none

.toc-side
    align-self: flex-start
    background: none
    display: none
    flex: 0 0 auto
    width: 8rem
    padding: 4rem 0 0 2.6rem
    position: sticky
    top: 1rem

    +landscape
        display: block

    h5
        font-size: $size-7
        font-weight: bold
        margin: 0

    a
        cursor: pointer
        text-decoration: none

        &:hover
            color: $link-hover

    ul
        list-style: none
        padding-left: 0

    li
        font-size: $size-7
        padding-bottom: 0.5rem
