$primary: #3c8786
$link: #387fa3
$success: #60af98
$info: #387fa3
$warning: #dfb561
$danger: #d44b40

$family-sans-serif: "IBM Plex Sans", BlinkMacSystemFont, -apple-system, "Segoe UI", "Ubuntu", "Cantarell", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif
$family-monospace: "IBM Plex Mono", monospace;