<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="A web-based application for viral infection diagnostics using next-generation sequencing">
    <meta name="keywords" content="virus,plant,bioinformatics,diagnostics,ngs,web,application,github">

    <title>Virtool</title>

    <link rel="stylesheet" href="/style/style.css">
    <link rel="stylesheet" href="/style/font-awesome.min.css">
    <link rel="icon" href="style/favicon.ico" type="image/x-icon"/>

    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "WebSite",
            "name": "Virtool",
            "url": "https://www.virtool.ca"
        }
    </script>
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "Organization",
            "url": "https://www.virtool.ca",
            "logo": "https://avatars3.githubusercontent.com/u/19957602?v=3&s=200"
        }
    </script>
</head>
