{{ define "main" }}
<div class="section">
    <div class="container">
        <div class="level">
            <div class="level-left">
                <div class="level-item contains-nav">
                    <nav class="breadcrumb " aria-label="breadcrumbs">
                        <ul>
                            <li><a class="title is-4" href="/docs">Docs</a></li>
                            <li><a class="title is-5" href="/docs/developer">Developer</a></li>
                            <li><a href="#">{{ .Title }}</a></li>
                        </ul>
                    </nav>
                </div>
            </div>            
            <div class="level-right">
                <div class="level-item tags has-addons">
                    <span class="tag is-dark">Updated</span>
                    <span class="tag is-info">{{ .GitInfo.AuthorDate.Format "January 2, 2006" }}</span>
                </div>
            </div>
        </div>
        <div class="columns">
            {{ partial "side.html" (dict "CurrentPage" . "MenuName" "developer") }}

            <div class="column is-10 docs docs-code">
                {{ $replaced := (replaceRE "<table>([\\s\\S]*?)<\\/table>" "<div class='table-wrapper'><table>$1</table></div>" .Content) }}
                {{ safeHTML $replaced }}
            </div>   
        </div>
    </div>
</div>

{{ end }}