{{ $style := resources.Get "style.sass" | toCSS | minify | fingerprint }}

<!DOCTYPE html>
<html class="has-navbar-fixed-top">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="msvalidate.01" content="8A11FC5596AF88B6FF7D4F592A9EA2EA" />
    <title>{{ .Site.Title }}</title>
    <link rel="stylesheet" type="text/css" href="{{ $style.Permalink }}" media="screen" />
    <script>;</script>
    <link rel="icon" href="/favicon.ico?v=123213" type="image/x-icon">    
  </head>
  <body>
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "Organization",
            "url": "http://www.virtool.ca",
            "logo": "http://www.virtool.ca/logo.png"
        }
    </script>

    {{ partial "header.html" . }}

    {{ block "main" . }}
      <!-- The part of the page that begins to differ between templates -->
    {{ end }}    

    <footer class="footer">
        <div class="container">
            <div class="level">
                <div class="level-left">
                    © Copyright 2017 Government of Canada
                </div>
                <div class="level-right">
                    Licensed under&nbsp;<a href="https://github.com/virtool/virtool/blob/master/LICENSE">MIT License</a>
                </div>
            </div>
        </div>
    </footer>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/jquery/2.1.4/jquery.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/algoliasearch/3/algoliasearchLite.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/algoliasearch.helper/2/algoliasearch.helper.min.js"></script>
    <script defer src="/main.js"></script>
    <script defer src="/algolia.js"></script>
  </body>
</html>
