{{ define "main" }}
<section class="section">
    <div class="container">
        <h1 class="title is-3">Sample Management</h1>
        <div class="columns">
            <div class="column is-half">
                <img src="/images/sample-manager.png" class="image square" />
            </div>
            <div class="column is-half">
                <h1 class="title is-4">Management</h1>
                <ul>
                    <li>Track samples from creation to analysis.</li>
                    <li>Quickly and easily search and filter sample records.</li>
                </ul>
            </div>
        </div>
        <div class="columns">
            <div class="column is-half">
                <img src="/images/sample-creation.png" class="image square" />
            </div>
            <div class="column is-half">
                <h1 class="title is-4">Creation</h1>
                <ul>
                    <li>Create sample records from paired and unpaired FASTQ files</li>
                    <li>Error correction, trimming, and quality assessment is performed automatically.</li>
                </ul>
            </div>
        </div>
        <div class="columns">
            <div class="column is-half">
                <img src="/images/sample-quality.png" class="image square" />
            </div>
            <div class="column is-half">
                <h1 class="title is-4">QA</h1>
                <ul>
                    <li>View sample quality metrics generated during import in clean, readable graphics</li>
                    <li>Analysis and graphics based on <a href="http://www.bioinformatics.babraham.ac.uk/projects/fastqc/">FastQC</a>,
                        the most commonly used next-gen QC tool.</li>
                    <li>Export quality graphics to PDF.</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <h1 class="title is-3">Analysis</h1>
        <div class="columns">
            <div class="column is-half">
                <img src="/images/pathoscope-viewer.png" class="image square" />
            </div>
            <div class="column is-half">
                <h1 class="title is-4">Detect Known Viruses</h1>
                <ul>
                    <li>Quickly assess sample libraries for the presence of viruses in Virtool's reference database.</li>
                    <li>Based on tools such as <a href="http://bowtie-bio.sourceforge.net/bowtie2/index.shtml">Bowtie2</a>
                        and
                        <a href="https://sourceforge.net/projects/pathoscope/files/">Pathoscope</a>.
                    </li>
                </ul>
            </div>
        </div>

        <div class="columns">
            <div class="column is-half">
                <img src="/images/nuvs.png" class="image square" />
            </div>
            <div class="column is-half">
                <h1 class="title is-4">Discover Novel Viruses</h1>
                <ul>
                    <li>Use our novel analytical pipeline, <a href="https://github.com/virtool/nuvs">NuVs</a>, to find
                        previously unknown viruses. </li>
                    <li>Uses <a href="http://cab.spbu.ru/software/spades/">SPAdes</a> and <a href="http://hmmer.org/">HMMER</a>.</li>
                    <li>Inpired by <a href="http://derisilab.ucsf.edu/software/vFam/">vFAM</a>.</li>
                </ul>
            </div>
        </div>

        <section class="section">
            <div class="container">
                <h1 class="title is-4"></h1>
                <h2 class="subtitle is-6">

                </h2>

            </div>
        </section>

        <section class="section">
            <div class="container">
                <h1 class="title is-4">Virus Database</h1>
                <h2 class="subtitle is-6">
                    Easily browse and edit the viruses Virtool looks for in your samples. See our
                    <a href="https://github.com/virtool/virtool-database">official database</a> import it into your
                    Virtool
                    instance.
                </h2>
                <img src="/images/virus-manage.png" class="image" style="margin-bottom: 15px" />
                <img src="/images/virus-detail.png" class="image" />
            </div>
        </section>

        <section class="section">
            <div class="container">
                <h1 class="title is-4">Virus History</h1>
                <h2 class="subtitle is-6">
                    Track every change ever made to the virus database and revert changes not yet integrated into
                    mapping
                    indices.
                </h2>
                <img src="/images/virus-history.png" class="image" />
            </div>
        </section>

        <section class="section">
            <div class="container">
                <h1 class="title is-4">Job Management</h1>
                <h2 class="subtitle is-6">
                    Manage resource-intensive tasks such as analyses or sample creation.
                </h2>
                <img src="/images/job-management.png" class="image" />
            </div>
        </section>

        <section class="section">
            <div class="container">
                <h1 class="title is-4">User Management</h1>
                <h2 class="subtitle is-6">
                    Create and manage users, groups, and permissions to control access.
                </h2>
                <img src="/images/user-admin.png" class="image" />
            </div>
        </section>

        <section class="section">
            <div class="container">
                <h1 class="title is-4">Software Updates</h1>
                <h2 class="subtitle is-6">
                    Easily receive and install software updates from us.
                </h2>
                <img src="/images/software-updates.png" class="image" />
            </div>
        </section>

        {{ end }}