@charset "utf-8"

// Google Fonts
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans|IBM+Plex+Mono');

// Customization Variables
@import "sass/variables"

// Bulma Source
@import "bulma/sass/utilities/_all"
@import "bulma/sass/base/_all"
@import "bulma/sass/elements/box"
@import "bulma/sass/elements/button"
@import "bulma/sass/elements/container"
@import "bulma/sass/elements/content"
@import "bulma/sass/elements/form"
@import "bulma/sass/elements/icon"
@import "bulma/sass/elements/image"
@import "bulma/sass/elements/notification"
@import "bulma/sass/elements/other"
@import "bulma/sass/elements/table"
@import "bulma/sass/elements/tag"
@import "bulma/sass/elements/title"
@import "bulma/sass/components/breadcrumb"
@import "bulma/sass/components/card"
@import "bulma/sass/components/level"
@import "bulma/sass/components/media"
@import "bulma/sass/components/message"
@import "bulma/sass/components/navbar"
@import "bulma/sass/grid/_all"
@import "bulma/sass/layout/_all"

// Custom SASS
@import "sass/search"
@import "sass/side"
@import "sass/toc"


.image    
    border: 0.1rem solid #ddd
    padding: 5px

img
    @extend .image

.logo-strip
    margin-top: 30px
    margin-bottom: 60px
    a
        padding: 5px

.vtlogo-svg
    fill: white

.card.is-docs-type
    cursor: pointer
    transform: scale(1)
    transition: 150ms transform ease-in-out

    width: 100%

    &:hover
        transform: scale(1.05)

    .icon
        margin-right: 0.50rem

.tile-menu
    margin-top: -1rem
    padding-top: 1.2rem
    border-top: 0.1rem solid black

    &:not(:last-of-type)
        margin-bottom: 3.6rem

.level-item.tags
    justify-content: left

.level-item.contains-nav
    justify-content: left

.is-monospace
    font-family: monospace

.side-menu    
    padding-right: 1.6rem

    p.menu-label
        margin-bottom: 0.4rem                
        border-left: 1px solid grey

    .menu-list
        font-size: 0.8rem

div.docs

    div.table-wrapper
        overflow-x: auto

    table        
        @extend .table, .is-bordered, .is-striped, .is-fullwidth

    h1
        @extend .title
        @extend .is-4

        &.docs-header            
            border-bottom: 0.1rem solid black
            padding-bottom: 1rem

    h2
        @extend .title
        @extend .is-5

    h3
        @extend .has-text-weight-semibold
        @extend .is-6

        &:not(:first-child)
            margin-top: 2.2rem

    p
        margin-top: 0.5rem
        margin-bottom: 1rem

    dt
        @extend .has-text-grey
        font-weight: bold

    dd
        padding-left: 0.6rem

    &.docs-manual                

        h1:not(:first-child)
            padding-top: 1.2rem

        h2
            margin: 1.8rem 0 0.8rem 0

        ul
            padding-left: 1rem
            padding-bottom: 0.8rem
            list-style-type: disc
            list-style-position: inside

        ol
            padding-left: 1.3rem

            li
                margin-bottom: 2.3rem

        img
            max-width: 100%
            min-width: auto
            padding: 5px
            border: 0.1rem solid #ddd

        article.message
            margin-top: 0.6rem

        h1 + article.message
            margin-top: 2.2rem

        li
            img
                margin-top: 0.6rem

    &.docs-api

        h1 
            border-top: 3px solid $black
            margin-top: 3rem
            padding-top: 2rem

        h2
            margin: 2rem 0 0.8rem 0
            @extend .title
            @extend .is-6

        ul
            padding-left: 1rem
            padding-bottom: 0.8rem
            list-style-type: disc
            list-style-position: inside

        div.highlight
            display: table
            table-layout: fixed
            width: 100%

    &.docs-code

        div.highlight
            margin-bottom: 2rem



        
