<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="icon-vtlogo" viewBox="0 0 24 24">
        <title>vtlogo</title>
        <path class="path1" d="M11.016 2.121l-0.486 1.005-1.767 0.178-0.554-0.88-1.225 0.34 0.133 1.051-1.49 0.809-0.838-0.762-1.084 0.884 0.623 0.949-1.071 1.298-1.051-0.355-0.682 1.187 0.925 0.657-0.511 1.646-1.104 0.038-0.112 1.535 1.038 0.195 0.178 1.767-0.925 0.494 0.516 1.43 0.92-0.278 0.809 1.49-0.743 0.864 0.848 1.083 0.966-0.649 1.298 1.071-0.251 1.147 1.040 0.561 0.7-0.899 1.646 0.511 0.155 1.134 1.127 0.055 0.486-1.011 1.767-0.178 0.632 0.959 1.222-0.377-0.208-1.093 1.49-0.809 0.933 0.761 0.892-0.796-0.527-1.036 1.071-1.298 1.181 0.459 0.595-1.109-0.968-0.839 0.511-1.646 1.152-0.12 0.055-1.248-1.029-0.399-0.178-1.767 0.932-0.609-0.391-1.155-1.052 0.117-0.809-1.49 0.751-0.894-0.721-0.895-1.101 0.492-1.298-1.071 0.285-1.199-1.040-0.457-0.735 0.847-1.646-0.511-0.143-1.11-1.139-0.072zM3.866 8.907h1.751l1.792 4.985 1.787-4.985h1.751l-2.502 6.754h-2.077l-2.502-6.754zM11.032 8.907h6.225v1.316h-2.239v5.438h-1.742v-5.438h-2.244v-1.316z"></path>
    </symbol>
</svg>

<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <svg class="icon" style="fill: white; margin-right: 5px">
                    <use xlink:href="#icon-vtlogo"></use>
                </svg>
                Virtool
            </a>
        </div>
        <div class="navbar-start">
            {{ $currentPage := . }}
            {{ range sort .Site.Menus.main "Weight" }}
                <a class="navbar-item{{ if $currentPage.IsMenuCurrent "main" . }} is-active{{ end }}" href="{{ .URL }}">
                    {{ .Name }}
                </a>
            {{ end }}
        </div>
        <div class="navbar-end">
            <a class="navbar-item" href="https://github.com/virtool/virtool" target="_blank">
                <span class="icon">
                    <i class="fab fa-github"></i>
                </span>
            </a>
            <div class="navbar-item">
                <div class="field is-grouped">
                    <p class="control">
                        <a class="button is-white" href="https://demo.virtool.ca">
                            Demo
                        </a>
                    </p>
                </div>
            </div>
        </div>        
    </div>
</nav>