<div class="box release">
  <div class="release-label">
    {{ .label}} {{.latest.name }}
  </div>
  <div class="release-date">
    {{ dateFormat "2006-01-02" .latest.published_at }}
  </div>
  <div class="release-links">
    <a href="{{ .latest.html_url }}" target="_blank">
      <i class="fab fa-github"></i>
      <span>View on GitHub</span>
    </a>
    <a class="is-hidden-touch" href="{{ .latest.download_url }}">
      <i class="fas fa-cloud-download-alt"></i>
      <span style="padding-left: 2px;"> Download</span>
    </a>
  </div>
</div>
