{{ range . }}
<h2 class="title">
    {{ .Name }}
</h2>
<div class="tiles">
    {{ range .Children }}
    <div class="box tile">
        <div class="box-header">
            <a class="title" href="{{ .URL }}">
                {{ .Name }}</a>
            </p>
            {{ if .Page.Description }}
            <p class="subtitle">
                {{ .Page.Description }}
            </p>
            {{ end }}
        </div>
        <div class="box-content">
            <ul>
                {{ range .Children }}
                <li>{{ .Name }}</li>
                {{ end }}
            </ul>
        </div>
    </div>
    {{ end }}
</div>
{{ end }}
