{{ define "main" }}
<section class="hero is-primary is-medium">
  <div class="hero-body">
    <div class="container">
      <div class="has-text-centered" style="margin-bottom: 45px">
        <h1 class="title" style="margin-bottom: 32px">Virtool</h1>

        <h2 class="subtitle">
          Viral infection diagnostics using next-generation sequencing.
        </h2>
      </div>

      <span class=" has-text-centered is-hidden-touch">
        <p class="field">
          <a
            class="button is-medium"
            href="{{ .Site.Data.releases3.virtool.latest.download_url }}"
          >
            <span>Download for Linux (64-bit)</span>
          </a>
        </p>
        <p>
          <small>
            Latest Version: {{ .Site.Data.releases3.virtool.latest.name }}
          </small>
        </p>
      </span>
    </div>
  </div>
</section>

{{ end }}
