{{ define "main" }}
<div>
  <div class="landing">
    <div class="container">
      <h1>Virtool</h1>
      <h2>Viral infection diagnostics using next-generation sequencing.</h2>

      <div class="landing-download">
        <a href="{{ .Site.Data.releases3.virtool.latest.download_url }}">
          Download for Linux (64-bit)
        </a>
        <p>
          <small>
            Latest Version: {{ .Site.Data.releases3.virtool.latest.name }}
          </small>
        </p>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="blurb">
      <div>
        <p>Skip the command line for data pre-processing, complex analytical workflows, and sample managment.</p>
        <p>Easily manage multiple, large sets of pathogen reference sequences without folders or FASTA files.</p>
        <p>Control access to data and keep track of your users.</p>
      </div>
      <div class="blurb-image">
        <img src="/images/splash.png" />
      </div>
    </div>
  </div>

  <div class="latest-update">
    <div class="container">
      <div class="blurb-latest">        
      </div>
    </div>
  </div>
</div>

{{ end }}
